<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Not Found 404</title>
  </head>
  <body>
    <div class="not-found">
      <h1>Not Found 404</h1>
      <button class="btn" onclick="goBack()">Go back</button>
    </div>
    <script>
      const goBack = () => {
        window.history.back();
      };
    </script>
  </body>
</html>
